body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
.Main {
  background-color: #1e90ff;
  background-image: url("Fixed Cover Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;


   color: white;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

} */

.Main {
  background: #1E90FF url("Fixed Cover Background.jpg") no-repeat fixed center / cover;


            color: white;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
}


.info 
{
    background : #fff url("Repeating Info Background.jpg") repeat-x top / cover;
    color:white;
    padding:20px;
    text-align:center;
}

.MainTitle
{
    background-color:rgba(0,0,0,0.6);
    color:#fff;
    padding: 20px;
    text-align:center;
    font-size:50px;
}