#main-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

input[type = "title"] {
    font-size: 24px;
    font-weight: bold;
    background-color: #993a3a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
    background-color: #852b2b;
}


div > p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

h2 + p {
    font-size: 18px;
    color: red;
}

h2 ~ p {
    font-size: 18px;
    color: darkblue;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.btn.primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}