body {
    background-color: LightYellow;
}
h1 {
    color: DarkBlue;
}
p {
    background-color: LightYellow;
    color: DarkBlue;
    padding: 10px;
    border: 1px solid DarkBlue;
}
code {
    background-color: LightGray;
    color: rgb(26, 26, 54);
    padding: 5px;
    border-radius: 5px;
}